<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/common :: head}"></th:block>
</head>
<body class="g-sidenav-show bg-gray-100">
<th:block th:replace="~{fragments/header :: sidebar}"></th:block>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <th:block th:replace="~{fragments/header :: navbar}"></th:block>
    <div class="container-fluid py-2">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h5 class="mb-0">Datatable Simple</h5>
                        <p class="text-sm mb-0">
                            A lightweight, extendable, dependency-free javascript HTML table plugin.
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-flush" id="datatable-basic">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Position</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Office</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Age</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start date</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-sm font-weight-normal">Tiger Nixon</td>
                                <td class="text-sm font-weight-normal">System Architect</td>
                                <td class="text-sm font-weight-normal">Edinburgh</td>
                                <td class="text-sm font-weight-normal">61</td>
                                <td class="text-sm font-weight-normal">2011/04/25</td>
                                <td class="text-sm font-weight-normal">
                                    <a href="javascript:void(0)" class="mx-1" title="상세보기">
                                        <i class="material-symbols-rounded text-secondary">visibility</i>
                                    </a>
                                    <a href="javascript:void(0)" class="mx-1" title="수정">
                                        <i class="material-symbols-rounded text-info">edit</i>
                                    </a>
<!--                                    <a href="javascript:void(0)" class="mx-1" title="삭제">-->
<!--                                        <i class="material-symbols-rounded text-danger">delete</i>-->
<!--                                    </a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer pt-3  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            © 19341 Web Design
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>
</body>
<th:block th:replace="~{fragments/common :: script}"></th:block>
<th:block th:replace="~{fragments/scripts :: commonScripts}"></th:block>
<th:block th:replace="~{fragments/scripts :: tableScripts}"></th:block>
</html>
