<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- ====== Fragment 공통 헤더 -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Investment Admin</title>

    <!-- fonts -->
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <!-- Nucleo Icons -->
    <link rel="stylesheet" th:href="@{/css/nucleo-icons.css}">
    <link rel="stylesheet" th:href="@{/css/nucleo-svg.css}">

    <link rel="stylesheet" th:href="@{/css/argon-dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<th:block th:fragment="script">
    <!-- core -->
    <script th:src="@{/js/core/popper.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
    <!-- plugins -->
    <script th:src="@{/js/plugins/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/plugins/sweetalert.min.js}"></script>
    <!-- commons -->
    <script th:src="@{/js/argon-dashboard.js}"></script>
    <script th:src="@{/js/api.js}"></script>
    <script th:src="@{/js/auth.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</th:block>

</html>