<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- ====== Fragment 공통 헤더 -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Investment Admin</title>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<th:block th:fragment="dashboard">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">
</th:block>

<th:block th:fragment="script">

    <!-- plugins -->
    <script th:src="@{/js/plugins/sweetalert.min.js}"></script>

    <!-- commons -->
    <script th:src="@{/js/api.js}"></script>
    <script th:src="@{/js/auth.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</th:block>

</html>
