<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <!-- Header -->
    <header class="header">
        <div class="header-left">
            <button class="menu-toggle" id="menuToggle">
                <span class="menu-icon"></span>
            </button>
            <h1 class="header-title">San Investment Admin</h1>
        </div>
        <div class="header-right">
            <div class="user-info">
                <span class="user-name" th:text="${adminName ?: '관리자'}"></span>
            </div>
            <button class="logout-button" id="logoutButton">로그아웃</button>
        </div>
    </header>
</th:block>


<th:block th:fragment="sidebar">
    <aside class="sidebar" id="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav-list">
                <li th:classappend="${menuActive == 'company'} ? 'nav-item has-submenu open' : 'nav-item has-submenu'">
                    <a href="#" class="nav-link">
                        <span class="material-icons nav-icon">business</span>
                        <span class="nav-text">회사</span>
                        <span class="material-icons submenu-arrow">expand_more</span>
                    </a>
                    <ul class="submenu">
                        <li th:classappend="${subMenuActive == 'companyManage'} ? 'submenu-item active' : 'submenu-item'">
                            <a href="/company" class="submenu-link">회사 정보</a>
                        </li>
                    </ul>
                </li>
                <li th:classappend="${menuActive == 'menu'} ? 'nav-item has-submenu open' : 'nav-item has-submenu'">
                    <a href="#" class="nav-link">
                        <span class="material-icons nav-icon">settings</span>
                        <span class="nav-text">메뉴</span>
                        <span class="material-icons submenu-arrow">expand_more</span>
                    </a>
                    <ul class="submenu">
                        <li th:classappend="${subMenuActive == 'menuManage'} ? 'submenu-item active' : 'submenu-item'">
                            <a href="/menu" class="submenu-link">메뉴 관리</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</th:block>

<th:block th:fragment="navbar">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-2 top-1 px-0 py-1 mx-3 shadow-none border-radius-lg z-index-sticky" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-2">
            <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
                <a href="javascript:" class="nav-link text-body p-0">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </a>
            </div>

            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item">
                        <a href="javascript:" class="px-1 py-0 nav-link line-height-0" id="logoutIcons">
                            <i class="material-symbols-rounded">
                                logout
                            </i>
                        </a>
                    </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
</th:block>
</html>
