<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="tableScripts">
    <script th:src="@{/js/plugins/datatables.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const dataTableBasic = new simpleDatatables.DataTable("#datatable-basic", {
                searchable: false,
                fixedHeight: true
            });
        });
    </script>
</th:block>

<th:block th:fragment="commonScripts">
    <script th:src="@{/js/common/navbar.js}"></script>
</th:block>

</html>