<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/common :: head}"></th:block>
    <link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h1 class="login-title">San Investment Admin</h1>
        </div>

        <form class="login-form" id="loginForm">
            <div class="form-group">
                <label for="loginId" class="form-label">아이디</label>
                <input
                        type="text"
                        id="loginId"
                        name="loginId"
                        class="form-input"
                        placeholder="아이디를 입력하세요"
                >
            </div>

            <div class="form-group">
                <label for="password" class="form-label">비밀번호</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-input"
                        placeholder="비밀번호를 입력하세요"
                >
            </div>
            <button type="submit" class="login-button">로그인</button>
        </form>
    </div>
</div>
</body>
<th:block th:replace="~{fragments/common :: script}"></th:block>
<script src="/js/login/login.js"></script>
</html>
