spring:
  datasource:
    hikari:
      connection-test-query: SELECT 1
      pool-name: master
      maximum-pool-size: 10
      minimum-idle: 5
      jdbc-url: jdbc:mariadb://${MARIADB_URL}
      username: ${MARIADB_USERNAME}
      password: ${MARIADB_PASSWORD}
      driver-class-name: org.mariadb.jdbc.Driver
      connection-timeout: 30000
      idle-timeout: 60000
      max-lifetime: 1800000
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
    open-in-view: false
    hibernate:
      ddl-auto: none
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
logging:
  level:
    org.hibernate.type.descriptor.sql: TRACE
    org.hibernate.SQL: DEBUG
    org.thymeleaf: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
